:root {
  --primary-color: #1a0462;
  --background-color: #fff;
  --footer-background-color: #f0f0f0;
}

body, h1, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Header Styles */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6fa;
  padding: 1rem 2rem;
  border-bottom: 2px solid #1a0462; 
}

.header-logo {
  height: 80px;
}

/* Home Styles */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); 
  margin: auto;
  overflow: hidden;
  padding-bottom: 6rem; 
}

.home-img {
  max-height: 60vh; 
  object-fit: cover; 
}

/* NavItem and NavLink */
.nav-link {
  color: var(--primary-color) !important; 
  margin-right: 20px;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline !important;
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--footer-background-color);
  padding: 1rem;
  text-align: center;
  border-top: 2px solid #1a0462;
}


.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a, .footer-content p {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* NotFound Styles */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); 
  padding: 1rem;
  padding-bottom: 6rem; 
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.not-found img {
  max-width: 90%;
  max-height: 50vh; 
}