:root {
	--background-color: #fff;
	--footer-background-color: #f0f0f0;
	--primary-color: #1a0462;
	--primary-color-light: #49308b;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	padding-bottom: 100px;
}
html {
	height: 100%;
}
body,
h1,
p,
a {
	font-family: "Roboto", sans-serif;
}
a {
	color: var(--primary-color);
	text-decoration: none;
}
.main-container {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	min-height: 70vh;
	padding-bottom: var(--footer-height);
	padding-top: var(--header-height);
	width: 100%;
}
/* About Style */
.about-container {
	margin: auto;
	max-width: 1200px;
	overflow-y: auto;
	padding: 2rem;
	text-align: center;
}
.about-container h1 {
	color: var(--primary-color);
	margin-bottom: 2rem;
}
.about-container p {
	color: #333;
	line-height: 1.6;
	margin-bottom: 1rem;
}
.about-container ul {
	display: inline-block;
	margin: auto;
	text-align: left;
}
.about-hero {
	background: linear-gradient(135deg, #6e8efb, #88ceb2);
	color: #fff;
	padding: 4rem 0;
	text-align: center;
}
.content-section {
	background-color: #f9f9f9;
	border-left: 4px solid var(--primary-color);
	margin: 2rem 0;
	padding: 2rem;
	text-align: left;
}
.columns {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-around;
}
.column {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	flex-basis: 22%;
	padding: 20px;
}
.column h4 {
	color: var(--primary-color);
	margin-bottom: 10px;
}
.column p {
	margin: 0;
}
.looking-forward {
	background-color: #e6e6fa;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-top: 2rem;
	padding: 20px;
}
.looking-forward h2 {
	color: var(--primary-color);
	margin-bottom: 15px;
}
.looking-forward p {
	color: #333;
	line-height: 1.6;
}
.connect-section {
	background-color: #e6e6fa;
	border-radius: 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	margin-top: 3rem;
	padding: 2rem;
	text-align: center;
}
.connect-heading {
	color: var(--primary-color);
	margin-bottom: 1rem;
}
.connect-text {
	color: #333;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}
.connect-button {
	background-color: var(--primary-color);
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-weight: bold;
	padding: 10px 30px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}
.connect-button:hover {
	background-color: var(--primary-color-light, 10%);
}
.key-achievements {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin-top: 2rem;
}
.key-achievements,
.looking-forward {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 2rem;
	padding: 2rem;
}
/* CardIndex Style */
.card {
	border-color: var(--primary-color);
}
.card-body {
	background-color: #e6e6fa;
	padding: 1rem;
}
.cat-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	min-height: 340px;
	width: 14rem;
}
.cat-details image {
	margin: auto;
	max-height: 60vh;
	max-width: 100%;
	object-fit: contain;
}
.cat-details {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	padding: 1rem;
	text-align: center;
}
.cat-index-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
	padding: 2rem 0;
}
.cat-image {
	height: 200px;
	object-fit: cover;
	width: 100%;
}
.cat-show-container {
	padding: 2rem;
	text-align: center;
}
.cat-show-image {
	margin-bottom: 1rem;
	max-height: 50vh;
	max-width: 100%;
	object-fit: contain;
}
.card-title,
.card-subtitle {
	color: var(--primary-color);
}
.card-age,
.cat-enjoys {
	margin-left: 0;
}
/* Form Style */
.form-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 500px;
	padding: 2rem;
	width: 100%;
}
.form-container h5 {
	color: var(--primary-color);
	margin-bottom: 1rem;
	text-align: center;
}
.form {
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	width: 100%;
}
.form-group label {
	color: var(--primary-color);
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.button {
	background-color: var(--primary-color) !important;
	border: none;
	color: white;
	cursor: pointer;
	display: block;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
}
.button:hover {
	background-color: var(--primary-color-light, 10%) !important;
}
/* Contact Page Styles */
.contact-team-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	margin-bottom: 2rem;
	padding: 2rem;
}
.contact-team-card {
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	max-width: 300px;
	transition: all 0.3s ease;
	width: 100%;
}
.contact-team-card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transform: translateY(-10px);
}
.contact-card-img {
	height: 260px;
	object-fit: cover;
	width: auto;
}
.contact-card-body {
	background-color: #f9f9fb;
	padding: 15px;
	transition: background-color 0.3s ease;
}
.contact-card-title {
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
}
.contact-card-text {
	color: #555;
	font-size: 1rem;
	text-align: left;
}
.contact-card-links {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding-top: 15px;
}
.contact-link-button-linkedIn,
.contact-link-button-github,
.contact-link-button-email {
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	padding: 10px 12px;
	text-decoration: none;
	transition: all 0.2s ease;
}
.contact-link-button-linkedIn {
	background-color: #0077b5;
	color: white;
}
.contact-link-button-linkedIn:hover {
	background-color: #005983;
}
.contact-link-button-github {
	background-color: #6e5494;
	color: white;
}
.contact-link-button-github:hover {
	background-color: #5d4373;
}
.contact-link-button-email {
	background-color: #34b7f1;
	color: white;
}
.contact-link-button-email:hover {
	background-color: #2a8db8;
}
/* Footer Styles */
.footer {
	background-color: var(--footer-background-color);
	border-top: 2px solid #1a0462;
	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	text-align: center;
	width: 100%;
}
.footer-links {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.footer-links a,
.footer-content p {
	color: var(--primary-color);
	text-decoration: none;
}
.footer-links a:hover {
	text-decoration: underline;
}
/* Header Styles */
.header-nav {
	align-items: center;
	background-color: #e6e6fa;
	border-bottom: 2px solid #1a0462;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}
.header-logo {
	height: 80px;
	margin-left: 1rem;
}
/* Home Styles */
.home-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: auto;
	overflow-y: auto;
}
.home-image {
	max-height: 60vh;
	object-fit: cover;
}
/* Media Queries */
@media (max-width: 768px) {
	.about-container,
  .privacy-container,
  .terms-container,
  .home-container,
  .contact-team-container {
		padding: 1rem;
	}
	.about-hero {
		padding: 2rem 1rem;
	}
	.column {
		flex-basis: 100%;
		margin-bottom: 1rem;
	}
	.home-image,
  .not-found-image,
  .contact-card-img {
		height: auto;
		max-height: 300px;
	}
	.header-logo {
		height: 60px;
		margin-left: 0.5rem;
	}
	.footer,
  .header-nav {
		padding: 0.5rem 1rem;
	}
	.form-container,
  .cat-details,
  .cat-show-container {
		padding: 1rem;
	}
	.nav-link {
		margin-right: 10px;
	}
	h1,
  h2,
  h3,
  h4,
  .connect-heading,
  .contact-card-title,
  .card-title,
  .card-subtitle {
		font-size: 20px;
	}
	.main-container {
		justify-content: flex-start;
	}
}
@media (max-width: 480px) {
	.nav-link {
		color: var(--primary-color) !important;
		font-weight: 500;
		margin-right: 20px;
	}
	.nav-link:hover {
		text-decoration: underline !important;
	}
}
/* NotFound Styles */
.not-found {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 120px);
	justify-content: center;
	margin: auto;
	padding: 1rem;
	padding-bottom: 7rem;
	text-align: center;
}
.not-found-image {
	max-height: 50vh;
	max-width: 90%;
}
/* Privacy and TermsOfUse Styles */
.privacy-container,
.terms-container {
	margin: auto;
	max-width: 1200px;
	overflow-y: auto;
	padding: 20px;
}